### Dataset Explanation

The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data. Predictive data analytics methods are easy to apply with this dataset.

Attribute information

- Invoice id: Computer generated sales slip invoice identification number
- Branch: Branch of supercenter (3 branches are available identified by A, B and C).
- City: Location of supercenters
- Customer type: Type of customers, recorded by Members for customers using member card and Normal for without member card.
- Gender: Gender type of customer
- Product line: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
- Unit price: Price of each product in dolar
- Quantity: Number of products purchased by customer
- Tax: 5% tax fee for customer buying
- Total: Total price including tax
- Date: Date of purchase (Record available from January 2019 to March 2019)
- Time: Purchase time (10am to 9pm)
- Payment: Payment used by customer for purchase (3 methods are available â€“ Cash, Credit card and Ewallet)
- COGS: Cost of goods sold
- Gross margin percentage: Gross margin percentage
- Gross income: Gross income
- Rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

### Import Library or Package

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Load Data

In [25]:
df = pd.read_csv('supermarket_sales.csv')

In [26]:
# check 5 sample of data
df.sample(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
242,142-72-4741,C,Naypyitaw,Member,Male,Fashion accessories,93.20,2,9.3200,195.7200,2/28/2019,18:37,Credit card,186.40,4.761905,9.3200,6.0
698,868-06-0466,A,Yangon,Member,Male,Electronic accessories,69.58,9,31.3110,657.5310,2/19/2019,19:38,Credit card,626.22,4.761905,31.3110,7.8
604,484-22-8230,C,Naypyitaw,Member,Female,Fashion accessories,51.89,7,18.1615,381.3915,1/8/2019,20:08,Cash,363.23,4.761905,18.1615,4.5
254,704-11-6354,A,Yangon,Member,Male,Home and lifestyle,58.90,8,23.5600,494.7600,1/6/2019,11:23,Cash,471.20,4.761905,23.5600,8.9
318,704-20-4138,C,Naypyitaw,Member,Female,Health and beauty,29.67,7,10.3845,218.0745,3/11/2019,18:58,Credit card,207.69,4.761905,10.3845,8.1

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

Dengan menggunakan info() diketahui bahwa tidak ada kolom yang memiliki missing value, sehingga tidak akan dilakukan proses terhadap missing value

### Handling Duplicated

In [28]:
# check duplicated all columns
df.duplicated().sum()

0

Pada kolom `Branch` dan `City` merepresentasikan dua hal yang sama, sehingga akan dilakukan drop pada kolom `Branch`

In [29]:
df.drop('Branch', axis=1, inplace=True)

In [30]:
# check is two columns have equal
df["Tax 5%"].equals(df["gross income"])

True

Karena kolom `Tax 5%` dan `gross income` memiliki nilai yang sama sehingga akan dilakukan drop pada kolom `Tax 5%` dan hanya kolom `gross income` yang akan digunakan.

In [31]:
df.drop('Tax 5%', axis=1, inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   City                     1000 non-null   object
 2   Customer type            1000 non-null   object
 3   Gender                   1000 non-null   object
 4   Product line             1000 non-null   object
 5   Unit price               1000 non-null   float64
 6   Quantity                 1000 non-null   int64
 7   Total                    1000 non-null   float64
 8   Date                     1000 non-null   object
 9   Time                     1000 non-null   object
 10  Payment                  1000 non-null   object
 11  cogs                     1000 non-null   float64
 12  gross margin percentage  1000 non-null   float64
 13  gross income             1000 non-null   float64
 14  Rating                   1000 non-null   float64
dtypes: float64(6), int64(1), object(8)
memory usage: 117.3+ KB

### Handling Data Type

Kolom `Date` dan kolom `Time` merepresentasikan waktu tapi data type nya masih berupa float, sehingga kolom tersebut akan di ubah data typenya menjadi DateTime

In [33]:
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M').dt.hour

In [34]:
df['Date'] = pd.to_datetime(df['Date'])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   City                     1000 non-null   object
 2   Customer type            1000 non-null   object
 3   Gender                   1000 non-null   object
 4   Product line             1000 non-null   object
 5   Unit price               1000 non-null   float64
 6   Quantity                 1000 non-null   int64
 7   Total                    1000 non-null   float64
 8   Date                     1000 non-null   datetime64[ns]
 9   Time                     1000 non-null   int64
 10  Payment                  1000 non-null   object
 11  cogs                     1000 non-null   float64
 12  gross margin percentage  1000 non-null   float64
 13  gross income             1000 non-null   float64
 14  Rating                   1000 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(6)
memory usage: 117.3+ KB

### Rename Columns name

In [36]:
df = df.rename(columns={'Customer type':'Customer Type',
                        'Product line': 'Product Category',
                        'Unit price':'Unit Price',
                        'cogs':'COGS',
                        'gross margin percentage':'GMP',
                        'gross income':'Gross Income',
                        'Time':'Hour'})

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Invoice ID        1000 non-null   object
 1   City              1000 non-null   object
 2   Customer Type     1000 non-null   object
 3   Gender            1000 non-null   object
 4   Product Category  1000 non-null   object
 5   Unit Price        1000 non-null   float64
 6   Quantity          1000 non-null   int64
 7   Total             1000 non-null   float64
 8   Date              1000 non-null   datetime64[ns]
 9   Hour              1000 non-null   int64
 10  Payment           1000 non-null   object
 11  COGS              1000 non-null   float64
 12  GMP               1000 non-null   float64
 13  Gross Income      1000 non-null   float64
 14  Rating            1000 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(6)
memory usage: 117.3+ KB

### Add Columns

In [38]:
# menambahkan kolom Time yang merupakan hasil dari pengkategorian kolom Hour

In [39]:
df.describe()

,Unit Price,Quantity,Total,Hour,COGS,GMP,Gross Income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,322.966749,14.910000,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,245.885335,3.186857,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,10.678500,10.000000,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,124.422375,12.000000,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,253.848000,15.000000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,471.350250,18.000000,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,1042.650000,20.000000,993.00000,4.761905e+00,49.650000,10.00000

In [17]:
rating_range = [] #list kosong

for i, k in df.iterrows():
    if k['Rating'] <= 3: #true and true
        rating_range.append('1 ~ 3')
    elif k['Rating'] <= 5: #true and true
        rating_range.append('4 ~ 5')
    elif k['Rating'] <= 7: #true and true
        rating_range.append('6 ~ 7')
    elif k['Rating'] <= 9: #true and true
        rating_range.append('8 ~ 9')
    elif k['Rating'] <= 10: #true and true
        rating_range.append(' ~ 10')
df['Rating Range'] = rating_range

In [18]:
df['Rating Range'] = rating_range

In [19]:
df.head(3)

,Invoice ID,City,Customer Type,Gender,Product Category,Unit Price,Quantity,Total,Date,Hour,Payment,COGS,GMP,Gross Income,Rating,Rating Range
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,548.9715,2019-01-05,13,Ewallet,522.83,4.761905,26.1415,9.1,9 ~ 10
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,80.2200,2019-03-08,10,Cash,76.40,4.761905,3.8200,9.6,9 ~ 10
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7,340.5255,2019-03-03,13,Credit card,324.31,4.761905,16.2155,7.4,7 ~ 9

In [20]:
# menambahkan kolom Rating Type berdasarkan kategori yang merepresentasikan kolom rating
buying_range = [] #list kosong

for i, k in df.iterrows():
    if k['Hour'] <= 11: #true and true
        buying_range.append('9 ~ 11')
    elif k['Hour'] <= 13: #true and true
        buying_range.append('12 ~ 13')
    elif k['Hour'] <= 15: #true and true
        buying_range.append('14 ~ 15')
    elif k['Hour'] <= 17: #true and true
        buying_range.append('16 ~ 17')
    elif k['Hour'] <= 19: #true and true
        buying_range.append('18 ~ 19')
    elif k['Hour'] <= 21: #true and true
        buying_range.append('20 ~ 21')
df['Hour Range'] = buying_range

In [21]:
df.head()

,Invoice ID,City,Customer Type,Gender,Product Category,Unit Price,Quantity,Total,Date,Hour,Payment,COGS,GMP,Gross Income,Rating,Rating Range,Hour Range
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,548.9715,2019-01-05,13,Ewallet,522.83,4.761905,26.1415,9.1,9 ~ 10,12 ~ 13
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,80.2200,2019-03-08,10,Cash,76.40,4.761905,3.8200,9.6,9 ~ 10,9 ~ 11
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7,340.5255,2019-03-03,13,Credit card,324.31,4.761905,16.2155,7.4,7 ~ 9,12 ~ 13
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8,489.0480,2019-01-27,20,Ewallet,465.76,4.761905,23.2880,8.4,7 ~ 9,20 ~ 21
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7,634.3785,2019-02-08,10,Ewallet,604.17,4.761905,30.2085,5.3,5 ~ 7,9 ~ 11

### Export Clean Data to CSV

Data yang telah bersih selanjutnya akan di simpan untuk nantinya dilakukan analisis insight.

In [22]:
save_data = df.copy()

In [23]:
save_data.to_csv('supermarket_clean_fix.csv', index=False)